@import url(https://fonts.googleapis.com/css?family=Erica+One);
.boton {
    background: rgb(236,156,104);
    color: #c65107;
    width: 100%;
    font-size: 20px;
    border:5px solid rgb(193, 81, 11);
    border-radius: 15px;
    padding: 10px;
    font-family: 'Erica One', cursive;
    
}


.boton:hover {
    background: rgb(232, 113, 39);   
    padding: 20px;
    box-shadow: 4px 4px 4px #77340a insert;
    
}

.boton:focus{
    background: rgb(232, 113, 39);   
    color: #c65107;
    font-size: 20px;
    border:5px solid rgb(193, 81, 11);
    padding:20px
}