.panSup{
    margin-left: 10px;
    position: relative;
    z-index: 12;
    
}
.panSup_cerrado{
   
}
.panInf{
    position: relative;
    z-index: 0;     
}
.carne{
    position: relative;
    z-index: 6;
}

.lechuga{
    position:relative;
    z-index: 4;
}
.mostaza{
    
}
.ketchupIng{
    
}
.baconIng{
   
}
.cebolla{
    
}
.tomate{
   
}