/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-feb-2017, 9:20:09
    Author     : christianbegines
*/

.fondo{
    background-image: url("../images/fondo7.jpg" );  
}
.fondo-tabla{
    background-image: url("../images/tabla.jpg" );  
}
.imagen-receta{
    
}
.bloque{
 height: 185px;
}
.derecha{
    float:right;
}
.mg_top-50{
    margin-top: 170px;
}
.mg_top-20{
    margin-top: 20px;
}
.mg_top-40{
    margin-top: 40px;
}
.mg_left-50{
    margin-left:50px;
}
.ingrediente{
   width: 155px;
}
.black{
    background-color: black;
}
.en-mesa{
    height: 40px;
}
.mesa{
    align-self: center;
    width: 150px;
    transform: translate(0px,100px);
}
.carnIng{
    
}
.pepinilloIng{
    
}
.lechuga{
    position:relative;
    z-index: 4;
}
.mostazaIng{
    
}
.ketchupIng{
    
}
.baconIng{
   
}
.cebolla{
    
}
.tomate{
   
}
.panSup{
    margin-left: 10px;
    position: relative;
    z-index: 12;
    
}
.panSup_cerrado{
   
}
.panInf{
    position: relative;
    z-index: 0;
 
    
}
.carne{
    position: relative;
    z-index: 6;
}

.animacion-montaje_pan-inf_montar{
    animation-name:animacion_pan-sup_montar;
    animation-duration:4s;
     top:-10px;

}
.animacion-montaje_pan-sup_montar{
    animation-name:animacion_pan-inf_montar;
    animation-duration:4s;
    top:10px

}
.animacion-montaje_pan-inf_desmontar{
    animation-name:animacion_pan-inf_desmontar;
    animation-duration:2s;
    top:10px;
    

}
.animacion-montaje_pan-sup_desmontar{
    animation-name:animacion_pan-sup_desmontar;
    animation-duration:2s;
    top:-10px;

}

@keyframes animacion_pan-sup_montar{
    0%{top:0px;}
    100%{top:-10px;transform:translate(0px;-10px;)}
    
}

@keyframes animacion_pan-inf_montar{
    0%{top:0px;}
    100%{top:10px;transform:translate(0px;10x;)}
    
}
@keyframes animacion_pan-sup_desmontar{
    0%{top:0px;}
    100%{top:-10px;transform:translate(0px;-10px;)}
    
}
@keyframes animacion_pan-inf_desmontar{
    0%{top:0px;}
    100%{top:10px;transform:translate(0px;10px;)}
    
}