@import url(https://fonts.googleapis.com/css?family=Erica+One);
@import url(https://fonts.googleapis.com/css?family=Erica+One);
.fondo {
  background-image: url("../images/fondo7.jpg"); }

.fondo-tabla {
  background-image: url("../images/tabla.png"); }

.letrero {
  top: 20px;
  height: 90px;
  margin: auto;
  display: block;
  -webkit-animation: bounce .3s ease infinite alternate;
  font-family: 'Erica One', cursive;
  font-size: 60px;
  color: #c65107;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6); }

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -30px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 30px 30px rgba(0, 0, 0, 0.3); } }

.letras-pantalla_info {
  color: red;
  font-weight: bold;
  font-size: 30px;
  text-align: center; }

.bloque {
  height: 185px; }

.derecha {
  float: right; }

.ingrediente {
  width: 155px; }

.black {
  background-color: black; }

.en-mesa {
  height: 40px; }

.mesa {
  align-self: center;
  width: 150px;
  transform: translate(0px, 100px); }

.pantalla_info {
  border-radius: 20px;
  background-color: sandybrown;
  height: 100px;
  margin-top: 20px;
  border: 10px solid red; }

h1 {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.receta {
  border: 5px solid sandybrown;
  border-radius: 20px; }

.boton {
  background: #ec9c68;
  color: #c65107;
  width: 100%;
  font-size: 20px;
  border: 5px solid #c1510b;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Erica One', cursive; }

.boton:hover {
  background: #e87127;
  padding: 20px;
  box-shadow: 4px 4px 4px #77340a insert; }

.boton:focus {
  background: #e87127;
  color: #c65107;
  font-size: 20px;
  border: 5px solid #c1510b;
  padding: 20px; }

.panSup {
  margin-left: 10px;
  position: relative;
  z-index: 12; }

.panInf {
  position: relative;
  z-index: 0; }

.carne {
  position: relative;
  z-index: 6; }

.lechuga {
  position: relative;
  z-index: 4;
  top: 15px; }

.pepinillo {
  position: relative;
  z-index: 5;
  top: 20px; }

.tomate {
  position: relative;
  z-index: 3;
  top: 20px; }

.mg_left-20 {
  margin-left: 20px; }

.mg_left-30 {
  margin-left: 30px; }

.mg_left-40 {
  margin-left: 40px; }

.mg_left-50 {
  margin-left: 50px; }

.mg_top-20 {
  margin-top: 20px; }

.mg_top-30 {
  margin-top: 30px; }

.mg_top-40 {
  margin-top: 40px; }

.mg_top-50 {
  margin-top: 50px; }
